*{
    margin: 0px;
    padding:0px;
}
body{
    background-color: cornflowerblue;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin-top: 300px;
    
}